
#created {
  position: absolute;
  bottom: 10%;
  left: 20%;
  max-width: 50%;
  max-height: 30%;
  overflow-x: hidden; /* Hide horizontal scrollbar */
  overflow-y: hidden; /* Add vertical scrollbar */
  font-size: 200%
}

h1 {
  background: linear-gradient(#5f3220, #1b1d31);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
