.chatContainer {
  overflow-x: hidden; /* Hide horizontal scrollbar */
  overflow-y: scroll; /* Add vertical scrollbar */
  /* float: right; */
  
  position: absolute;
  bottom: 13%;
  right: 7%;
  height: 35%;
  width: 20%;
  max-width: 20%;
  max-height: 35%;
  background-image: url("https://thumbs.dreamstime.com/b/viejo-fondo-del-c%C3%B3mic-del-papel-del-vintage-87813981.jpg");
  background-size: 100% 100%;
  font: black;
}

#gameChat {
  overflow-x: hidden; /* Hide horizontal scrollbar */
  overflow-y: scroll; /* Add vertical scrollbar */
  /* float: right; */
  
  position: relative;
  top: 0;
  bottom: 20%;
  right: 0%;
  height: 100%;
  width: 100%;
  background: white;
  border: solid black; 
  border-width: 0 10px 10px 10px;
  padding: 5px;
  font: black;
  font-family: "Bangers";
  letter-spacing: 1.5px;
  background-image: url("https://thumbs.dreamstime.com/b/viejo-fondo-del-c%C3%B3mic-del-papel-del-vintage-87813981.jpg");
  background-size: 100% 100%;
}

.message {
  background: linear-gradient(to right, white , teal);
  border-radius: 5px;
  margin: 2px;
  padding: 2px;
  color: black;
}

.roundBtn {
  border-radius: 5px;
}

.comicBorder {
  border: solid black; 
  border-width: 10px;
}

.chatInput {
  position: sticky;
  bottom: 0;
}

.messageBox {
  max-height: 70%;
  overflow-y: scroll;
  position: sticky;
  bottom: 100px;
}