.chatContainer {
  overflow-x: hidden; /* Hide horizontal scrollbar */
  overflow-y: scroll; /* Add vertical scrollbar */
  /* float: right; */
  
  position: relative;
  top: 0;
  bottom: 20%;
  right: 0%;
  height: 340px;
  width: 400px;
  background: white;
  font: black;
  border: solid black; 
  border-width: 0 10px 10px 10px;
  padding: 5px;
  width: 20%;
}
