.image {
  display: block;
  width: auto;
  height: auto;
  max-width: 60000px;
  max-height:50000px;
}; 

#log {

  margin: 20px
}

#logout {
  float:right;
  margin: 20px;
}

#main {
 
  /* color: black; */
  font-family: "Bangers";
  background-repeat: no-repeat;
  /* position: absolute; */
  
}

h1 {
  color: white;
  font-family: "Bangers";
}

#home {
  letter-spacing: 1.5px;
  padding: 0 0 0 0;
  width: 100vw;
  height: 100vh;
  background: url('https://d2v9y0dukr6mq2.cloudfront.net/video/thumbnail/okUindP/superhero-background-loop_41bdacqfg__F0000.png');
  background-position:center ;
  background-repeat: no-repeat;
  background-size: 100%;
}

#chat {
  margin: 12.5% 12% 0 55%;
  font-size: 300%;
  background: linear-gradient(#5f3220, #1b1d31);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

#welcome {
  float: left;
  margin-left: 27%;
  margin-top: 4%;
  font-size: 350%;
  background: linear-gradient(#00ffc8, #101bb9);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

#left {
  margin: 0 10px 0 0;
}