#leader {
  background: url('https://i.pinimg.com/originals/d9/93/f8/d993f80c1f73fee0699a7a63f9136f27.jpg');
  background-position:center ;
  background-repeat: no-repeat;
  position: absolute;
  height: 100vh;
  width: 100vw;
  color: white;
  font-family: "Bangers";
  letter-spacing: 1.5px;
}

#leadertitle {
  padding: 30px 0 0 0 ;
  font-weight: 500;
  /* background: linear-gradient(to right, rgb(23, 255, 255) 0%, #7103f8 100%); */
  background: linear-gradient(0.25turn, #3f87a6, #abff6b, #f69d3c);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

#board {
  color: white;
  letter-spacing: 1.5px
  
}

#inner {
  padding: 0;
  margin-top: 300px;
  height: 600px;
  width: 350px;
  background: linear-gradient( rgba(0, 0, 0, 0.85), rgba(0, 0, 0, 0.75) );
}